@model dynamic
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";

    SortModels sortModel = (SortModels)ViewData["sortModel"];
}

<link rel="stylesheet" href = "https://use.fontawesome.com/releases/v5.7.0/css/all.css" />

<h1>Alerts </h1>

<p>
    <a asp-action="Create">Add New Notification</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Type
                @*@Html.DisplayNameFor(model => model.NotificationType)*@
            </th>
            <th>
                Rule
                @*@Html.DisplayNameFor(model => model.NotificationRule)*@
            </th>
            <th>
                Past Month Count
                @*@Html.DisplayNameFor(model => model.NotificationRule)*@
            </th>
            <th>
                Past Year Count
                @*@Html.DisplayNameFor(model => model.NotificationRule)*@
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>


@foreach (Notifica item in Model.notilist) 
{
            int countMonth = 0;
            int countYear = 0;
            
            
            @foreach (Transaction x in Model.translist)
            {
                var today = DateTime.Now;
                var month = new DateTime(today.Year, today.Month, 1);
                var first = month.AddMonths(-1);
                var last = month.AddDays(-1);
                var year = DateTime.Now.AddYears(-1);
                var pastfirst = new DateTime(year.Year, 1, 1);
                var pastlast = new DateTime(year.Year, 12, 31);
                float check = 0;
                if (item.NotificationType == "Category")
                {
                    string word1 = item.NotificationRule.ToLower();
                    string word2 = x.Description.ToLower();
                    if (x.CreatedDate >= first && x.CreatedDate <= last 
                    && item.UserKey == @UserManager.GetUserId(User) && word2.Contains(word1))
                    {
                        countMonth += 1;
                    }
                    if (x.CreatedDate >= pastfirst && x.CreatedDate <= pastlast 
                    && item.UserKey == @UserManager.GetUserId(User) && word2.Contains(word1))
                    {
                    countYear += 1;
                    }
                }
                else if (item.NotificationType == "Amount Exceed" && float.TryParse(item.NotificationRule,out check))
                {
                    string word1 = item.NotificationRule.ToLower();
                    string word2 = x.Description.ToLower();
                    if (x.CreatedDate >= first && x.CreatedDate <= last 
                    && item.UserKey == @UserManager.GetUserId(User) && x.Amount >= float.Parse(item.NotificationRule))
                    {
                        countMonth += 1;
                    }
                    if (x.CreatedDate >= pastfirst && x.CreatedDate <= pastlast 
                    && item.UserKey == @UserManager.GetUserId(User) && x.Amount >= float.Parse(item.NotificationRule))
                    {
                    countYear += 1;
                    }
                }
                else if (item.NotificationType == "Location")
                {
                    string word1 = item.NotificationRule.ToLower();
                    string word2 = x.Description.ToLower();
                    if (x.CreatedDate >= first && x.CreatedDate <= last 
                    && item.UserKey == @UserManager.GetUserId(User) && item.NotificationRule == x.Location)
                    {
                        countMonth += 1;
                    }
                    if (x.CreatedDate >= pastfirst && x.CreatedDate <= pastlast 
                    && item.UserKey == @UserManager.GetUserId(User) && item.NotificationRule == x.Location)
                    {
                    countYear += 1;
                    }
                }
                
                
                
            }


            @if (item.UserKey == @UserManager.GetUserId(User))
            {
                float check = 0;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotificationType)
                    </td>
                    @if (item.NotificationType == "Amount Exceed" && float.TryParse(item.NotificationRule,out check))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationRule) 
                        </td>
                    }
                    else if (item.NotificationType == "Category" || item.NotificationType == "Location")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationRule) 
                        </td>
                    }
                    else
                    {
                        <td>
                            Invalid Value. "@Html.DisplayFor(modelItem => item.NotificationRule)"" is not a number. <br>
                            Please edit or delete it!
                        </td>
                    }

                    @if (item.NotificationType == "Amount Exceed" && float.TryParse(item.NotificationRule,out check))
                    {
                        <td>
                            @countMonth
                        </td>
                        <td>
                            @countYear
                        </td>
                    }
                    else if (item.NotificationType == "Category" || item.NotificationType == "Location")
                    {
                        <td>
                            @countMonth
                        </td>
                        <td>
                            @countYear
                        </td>
                    }
                    else
                    {
                        <td>
                            NaN
                        </td>
                        <td>
                            NaN
                        </td>
                    }
                    
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.UserKey">Details</a>*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
}

</tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th>
                Date
                @*@Html.DisplayNameFor(model => model.NotificationType)*@
            </th>
            <th>
                Transaction ID
                @*@Html.DisplayNameFor(model => model.NotificationType)*@
            </th>
            <th>
                Details
                @*@Html.DisplayNameFor(model => model.NotificationRule)*@
            </th>
            <th></th>
        </tr>
    </thead>



<tbody>
@foreach (Notifica x in Model.notilist)
{
    @foreach (Transaction item in Model.translist) {
    @if (item.UserKey == @UserManager.GetUserId(User))
    {
        float check = 0;
        @if (x.NotificationType == "Amount Exceed" && float.TryParse(x.NotificationRule,out check))
        {
            if (item.Amount >= float.Parse(x.NotificationRule))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        #@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    @if (item.BalanceType == "Withdraw")
                    {
                        <td>
                            Transaction withdraw $@Html.DisplayFor(modelItem => item.Amount) that exceeds $@Html.DisplayFor(modelItem => x.NotificationRule)
                        </td>
                    }
                    else
                    {
                        
                        <td>
                            Transaction deposit $@Html.DisplayFor(modelItem => item.Amount) that exceeds $@Html.DisplayFor(modelItem => x.NotificationRule)
                        </td>
                    }
                    
                    @*
                        <td>
                        @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    
                    *@

                    <td>
                    
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@   
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        }
        else if (x.NotificationType == "Location" && x.NotificationRule == item.Location)
        {
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        #@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        Transaction was made in @Html.DisplayFor(modelItem => x.NotificationRule)
                    </td>
         
                    @*
                        <td>
                        @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    
                    *@
                    <td>
                    
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@   
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
        }
        else if (x.NotificationType == "Category" )
        {
            string word1 = x.NotificationRule.ToLower();
            string word2 = item.Description.ToLower();
            if (word2.Contains(word1))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        #@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        Transaction was made from @Html.DisplayFor(modelItem => x.NotificationRule)
                    </td>
         
                    @*
                        <td>
                        @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    
                    *@
                    <td>
                    
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@   
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        }
       
            
}
   
}

           
}
</tbody>
</table>
